# Compiled class files
*.class
target/
build/
out/
# Spring Boot
*.jar
*.war
*.ear
# SQLite
*.sqlite
*.db
*.sqlite3
*.db-journal
# Intellij IDEA files
.idea/
*.iml
*.iws
*.workspace.xl
out/
# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# OS files
.DS_Store
Thumbs.db
