# Compiled class files
*.class
target/
build/
out/
# Spring Boot
*.jar
*.war
*.ear
# SQLite
*.sqlite
*.db
*.sqlite3
*.db-journal
# Intellij IDEA files
.idea/
*.iml
*.iws
*.ipr
*.workspace.xl
# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# OS files
.DS_Store
Thumbs.db

## ADDED SPRING BOOT FILES
HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

